@use "../../../styles/colors.scss" as colors;

.card {
    position: relative;
    flex: 0 0 15%;
    max-width: 375px;
    min-width: 275px;
    padding: 30px;
    border-radius: 15px;
    align-self: stretch;
    transition: all .2s;
    background: colors.$backgroundColor;
    box-shadow: inset 6px 6px 6px #1f1f1f,
        inset -6px -6px 6px #292929;


    &:hover {
        background: colors.$backgroundColorHover;
        box-shadow: inset 3px 3px 1px #1f1f1f,
            inset -3px -3px 1px #292929;

        .card-popup {
            visibility: visible;
        }
    }

    &-title {
        display: flex;
        justify-content: space-between;

        &-name {
            text-transform: uppercase;
        }

        &-categories {
            display: flex;
            gap: 5px;

            &-item {
                text-transform: uppercase;
                font-size: 10px;

                &:not(:last-of-type) {
                    &::after {
                        content: "|";
                        margin-left: 5px;
                    }
                }

            }
        }

        &-nums {
            display: flex;
            gap: 9px;

            .card-level,
            .card-strength {
                height: min-content;
                border-radius: 3px;
                padding: 0 3px;
            }

            .card-level {
                border: 3px solid colors.$backgroundColor;
                border-bottom: 3px solid colors.$textColor;
                color: colors.$textColor;
            }

            .card-strength {
                font-size: 16px;
                font-weight: 900;
                color: colors.$backgroundColor;
                background-color: colors.$textColor;
                padding: 3px 5px;
            }
        }
    }

    &-description {
        &-box {
            display: flex;
            flex-direction: column;
            padding: 6px 0 0;
            gap: 4px;

            .skill {
                display: flex;
                padding: 6px 0 0;
                border-top: 1px solid black;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 700;
                gap: 5px;

                &-item {
                    &:not(:last-of-type) {
                        &::after {
                            content: "|";
                            margin-left: 5px;
                        }
                    }
                }
            }

            .description {
                // padding: 2px 0 0;
            }
        }
    }
}