@use "../../../styles/colors.scss" as colors;

.card-popup {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all .2s;

    &-edit,
    &-add {
        width: min-content;
        border-radius: 5px;
        padding: 10px 15px;
        background: colors.$backgroundColorHover;
        opacity: .3;
        transition: all .2s;
        cursor: pointer;
        border: 2px solid colors.$textColor;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: colors.$textColor;

        }
        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }
    }
}