@use "./colors.scss" as colors;

a,
span {
    text-decoration: none;
    color: colors.$textColor;
}

.neo-box,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: colors.$textColor;
    background: colors.$backgroundColor;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: inset 3px 3px 3px #1f1f1f,
        inset -3px -3px 3px #292929;
    transition: all .2s;
    cursor: pointer;

    &.disabled {
        color: colors.$textColorActive;
        cursor: not-allowed;
    }

    &:focus,
    &:active,
    &:hover {
        background: colors.$backgroundColorHover;
        box-shadow: inset 3px 3px 1px #1f1f1f,
            inset -3px -3px 1px #292929;
    }

    &:hover {

        a,
        span {
            color: colors.$textColorHover;
        }
    }

    &:focus,
    &:active {

        a,
        span {
            color: colors.$textColorActive;
        }
    }

    a,
    span,
    &-item,
    &select {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
    }

    &.small {

        a,
        span {
            font-size: 10px;
            padding: 10px 12px;
        }
    }

    &.active {
        color: colors.$textColorActive;

        a,
        span {
            color: colors.$textColorActive;
        }
    }
}