@use "./colors.scss" as colors;

a {
    text-decoration: none;
    color: colors.$textColor;
}

li.button {
    cursor: pointer;
    transition: all .2s;
    border-radius: 15px;
    background: colors.$backgroundColor;
    box-shadow: inset 3px 3px 3px #1f1f1f,
                inset -3px -3px 3px #292929;
    
    &:focus,
    &:active,
    &:hover {
        background: colors.$backgroundColorHover;
        box-shadow: inset 3px 3px 1px #1f1f1f,
                inset -3px -3px 1px #292929;
    }

    &:hover {
        a {
            color: colors.$textColorHover;
        }
    }

    a {
        padding: 10px 20px;
        display: block;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
    }

    &.small {
        a {
            font-size: 10px;
            padding: 10px 12px;
        }
    }
}