@use "./colors.scss" as color;

.language-selector {
    margin-left: auto;
}

.select-box {
    width: 100%;

    select {
        margin-bottom: 20px;
    }
}

.select-box,
.language-selector {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    &::after {
        content: "▼";
        font-size: 10px;
        top: 8px;
        right: 10px;
        position: absolute;
        color: color.$textColor;
    }

    label {
        width: max-content;
        margin-right: 12px;
    }

    label,
    select {
        font-size: 10px;
        text-transform: uppercase;
        color: color.$textColor;
    }

    select {
        width: 100%;
        height: min-content;
        border: none;
        outline: none;
        background-color: color.$backgroundColorHover;
        padding: 10px;
        -webkit-appearance: none;
        appearance: none;

        option {
            // background-color: color.$backgroundColorHover;
        }
    }
}