@use "../../../styles/colors.scss" as colors;

.game-board {
    width: 100%;

    &-container {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: flex-end;
        position: relative;
    }

    &-popup {
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        background-color: rgba(colors.$backgroundColor, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        transform: translateY(-50%);

        &-text {
            display: flex;
            gap: 10px;
            font-size: 34px;
            color: colors.$textColor;
            text-transform: uppercase;

        }

        &-cards {
            flex-wrap: wrap;
            gap: 10px;
            height: 60vh;
        }

        &-close {
            font-size: 40px;
            font-weight: 700;
            cursor: pointer;
            margin-left: auto;
        }
    }

    &-main {
        height: 100%;
        flex: 0 0 80%;
        display: flex;
        flex-direction: column;

        .board-battlefield {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            flex: 0 0 80%;
            border: 2px dashed transparent;
            transition: border-color 0.2s;

            &.drag-over {
                border-color: rgba(0, 0, 0, 0.5); // Highlight drop zone when a card is over
            }
        }
    }

    &-info {
        font-size: 22px;
    }

    &-aside {
        width: 100%;
    }

    &-graveyard {
        flex: 0 0 20%;
    }

    &-deck {
        flex: 0 0 20%;
    }


    &-hand,
    .board-battlefield,
    .game-board-popup-cards {
        display: flex;
        position: relative;

        .hand-card {
            position: relative; // To enable z-index manipulation
            transition: transform 0.3s ease, z-index 0.3s ease;
            // width: 180px;
            width: 200px;
            height: 240px;
            padding: 10px;
            background-color: colors.$backgroundColor;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            z-index: 0;
            border: 3px solid colors.$textColor ;
            cursor: grab;


        }

        .hand-card:not(:last-child) {
            margin-right: -60px;
        }
    }

    &-hand,
    .board-battlefield {
        .hand-card {
            transform: translateX(-15px);
            margin: 0 -60px;

            &:hover {
                z-index: 888;
                cursor: pointer;
            }

            &:active {
                cursor: grabbing;
            }

            &.selected {
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                border: 2px solid #ffd700;
            }
        }
    }

    .board-battlefield {
        .hand-card {
            // height: min-content;
        }
    }

    &-hand {
        width: 80%;
        margin-top: -10%;
        justify-content: center;
        margin: 0 auto;
        // transform: translateY(20px);
        // perspective: 1000px; // Adds a slight 3D effect when cards are scaled
    }
}