.cards-filter {
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }

    &-levels {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        ul {
            width: 100%;
        }

        .deckbuilder-enabler>span {
            width: max-content;
        }
    }

    &-categories {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        ul {
            width: auto;
        }
    }

    &-search {
        padding: 15px;
        border: none;

    }
}

.cards-container {
    position: relative;
    display: flex;
    height: 100%;

    .cards-grid {
        display: flex;

    }
}