@use "../../../styles/colors.scss" as colors;

.game-board {
    &-hand {
        position: absolute !important;
        top: 0;
        left: 0;

        &.down {
            transform: translateY(20px);
            bottom: 0;
            left: 0;
        }

        // .hand-card {
        //     &.disabled {
        //         color: colors.$textColorActive;
        //     }
        // }
    }
}