$textColor: #888682;

.card {
    flex: 1;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    background: linear-gradient(145deg, #1d1d1d, #353535);
    box-shadow: 2px 2px 2px #0a0a0a,
        -2px -2px 2px $textColor;
    margin: 0 0 15px;

    &-title {
        display: flex;
        justify-content: space-between;

        &-name {}

        &-categories {
            display: flex;
            gap: 5px;

            &-item {
                text-transform: uppercase;
                font-size: 10px;
                &:not(:last-of-type) {
                    &::after {
                        content: "|";
                        margin-left: 5px;
                    }
                }
               
            }
        }

        &-nums {
            display: flex;
            gap: 6px;

            .card-level {}

            .card-strength {}
        }
    }

    &-description {
        &-box {
            display: flex;
            flex-direction: column;
            padding: 6px 0 0;
            gap: 4px;

            .skill {
                display: flex;
                padding: 6px 0 0;
                border-top: 1px solid black;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 700;
                gap: 5px;

                &-item {
                    &:not(:last-of-type) {
                        &::after {
                            content: "|";
                            margin-left: 5px;
                        }
                    }
                }
            }

            .description {
                // padding: 2px 0 0;
            }
        }
    }
}